body {
    padding: 0;
    margin: 0;
    white-space: nowrap;
    overflow-x: hidden;
}

/*Box specific stylings*/
#CuBox {
    margin-left: 9vh;
    transition: background-color 0.1s, transform 0.3s;
}
#CuBox:hover{
    background-color: rgba(253,175,71,100);
    transform: scale(1.2);
}


#TaBox{
   transition: background-color 0.1s, transform 0.3s; 
}
#TaBox:hover{
    background-color: rgba(146,146,146,80);
    transform: scale(1.2);
}


#YBox{
    margin-right: 9vh;
    transition: transform 0.3s;
}
#YBox:hover{
    transform: scale(1.2);
}

.flex-container {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    width: 100vw;
    top: 30vh;
}

.aboutmeText{
    font-size: 1em;
    width: 90vw;
    white-space: normal;
    overflow-wrap: break-word;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


@media only screen and (max-width: 600px){
    .flex-container {
        top: 15vh;
    }
}

@media only screen and (max-height: 600px){
    .flex-container{
        top: 150px;
    }
}