body {
    padding: 0;
    margin: 0;
    white-space: nowrap;
    overflow-x: hidden;
}

/*Box specific stylings*/
#CuBox {
    margin-left: 9vh;
    transition: background-color 0.1s, transform 0.3s;
}
#CuBox:hover{
    background-color: rgba(253,175,71,100);
    transform: scale(1.2);
}


#TaBox{
   transition: background-color 0.1s, transform 0.3s; 
}
#TaBox:hover{
    background-color: rgba(146,146,146,80);
    transform: scale(1.2);
}


#YBox{
    margin-right: 9vh;
    transition: transform 0.3s;
}
#YBox:hover{
    transform: scale(1.2);
}